:root {
    --sidebar-font-color: white;
    --sidebar-margins: 18px;
    --profile-pic-width: 2.7vw;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
}

.container {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template: 1fr 1fr / 1fr 4fr;
}

/* SIDEBAR */

.menu a {
    color: var(--sidebar-font-color);
    text-decoration: none;
}

.sidebar {
    grid-row: span 2;
    color: var(--sidebar-font-color);
    background: #1A92D3;
    display: grid;
    grid-template-rows: 1fr 10fr;
    gap: 30px;
}

.logo svg{
    height: 40px;
    fill: var(--sidebar-font-color);
}

.logo {
    display: flex;
    align-items: center;
    font-size: 22px;
    margin: var(--sidebar-margins);
    gap: var(--sidebar-margins);
}

.menu ul, .menu li {
    display: flex;
    gap: var(--sidebar-margins);
}

.menu ul {
    flex-direction: column;
}

.menu ul li {
    margin: 0 25px;
}

.menu svg {
    height: 20px;
    fill: var(--sidebar-font-color);
}

/* HEADER */

.header {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
}

.header svg {
    height: 20px;
}

.header-top, .header-bottom {
    display: flex;
    align-items: center;
}

.profile-pic {
    background-image: url(./images/bron.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: var(--profile-pic-width);
    height: var(--profile-pic-width);
    border-radius: 50%;
}

.profile-pic.big {
    width: calc(var(--profile-pic-width) + 1.3vw);
    height: calc(var(--profile-pic-width) + 1.3vw);
}

.greeting p {
    font-size: 12px;
    font-weight: bold;
}

.greeting span {
    font-size: 20px;
    font-weight: bold;
}

/* MAIN CONTENT */

.content {
    background: #E2E8F0;
    display: grid;
    grid-template: 50px 1fr / 3fr 1fr;
}

.ann-trending {
    display: grid;
    grid-template-rows: 1fr 50px 1fr;
}

.project-body {
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(2, 1fr);
    gap: 20px;
    margin: 0 20px;
}

.project-card {
    background-color: white;
}
