:root {
    --sidebar-font-color: white;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
}

.container {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template: 1fr 5fr / 1fr 4fr;
}

/* SIDEBAR */

.menu a {
    color: var(--sidebar-font-color);
    text-decoration: none;
}

.sidebar {
    grid-row: span 2;
    color: var(--sidebar-font-color);
    background: #1A92D3;
    display: grid;
    grid-template-rows: 1fr 10fr;
    gap: 30px;
}

.logo svg{
    height: 40px;
    fill: var(--sidebar-font-color);
}

.logo {
    display: flex;
    align-items: center;
    font-size: 22px;
    margin: 15px;
    gap: 15px;
}

.menu ul {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.menu ul li {
    display: flex;
    margin: 0 25px;
    gap: 15px;
}

.menu svg {
    height: 20px;
    fill: var(--sidebar-font-color);
}



/* HEADER */

.header {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
}

.header-top, .header-bottom {
    display: flex;
}

/* MAIN CONTENT */

.content {
    background: #E2E8F0;
    display: grid;
    grid-template: 50px 1fr / 3fr 1fr;
}

.ann-trending {
    display: grid;
    grid-template-rows: 1fr 50px 1fr;
}

.project-body {
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(2, 1fr);
    gap: 20px;
    margin: 0 20px;
}

.project-card {
    background-color: white;
}
