:root {
    --sidebar-color: #1992D4;
    --sidebar-font-color: white;
    --sidebar-margins: 18px;
    --profile-pic-width: 40px;
    --shadow: rgba(0, 0, 0, 0.10) 0px 2px 5px;
    --main-color: rgb(237, 237, 237);
    --card-color: white;
    --global-gap: 18px;
    --subtext-color: gray;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container {
    display: grid;
    grid-template: max-content minmax(200px, 5fr) / max-content 5fr;
}

/* SIDEBAR */

.menu a {
    color: var(--sidebar-font-color);
    text-decoration: none;
}

.sidebar {
    grid-row: span 2;
    color: var(--sidebar-font-color);
    background: var(--sidebar-color);
    display: grid;
    grid-template-rows: max-content max-content 10fr;
    gap: 30px;
    padding: 18px;
}

.horiz-divider {
    background-color: var(--sidebar-font-color);
    opacity: 0.7;
    height: 1px;
    width: 100%;
}

.logo svg{
    height: 40px;
    fill: var(--sidebar-font-color);
}

.logo {
    display: flex;
    align-items: center;
    font-size: 22px;
    gap: 10px;
}

.menu ul, .menu li {
    display: flex;
    gap: var(--global-gap);
}

.menu ul {
    flex-direction: column;
}

.menu li {
    /* margin: 0 25px; */
    font-weight: bold;
}

.menu svg {
    height: 20px;
    fill: var(--sidebar-font-color);
}

.menu a:hover{
    text-decoration: underline;
}

/* HEADER */

.header {
    display: grid;
    position: relative;
    grid-template-rows: repeat(2, 1fr);
    box-shadow: var(--shadow);
    padding: 18px 0;
    gap: var(--global-gap);
}

.header svg {
    height: 20px;
}

.header-top, .header-bottom {
    display: flex;
    align-items: center;
    gap: var(--global-gap);
    margin: 0 40px;
    white-space: nowrap;
}

.divider {
    background-color: var(--main-color);
    height: 100%;
    width: 1px;
}

/* HEADER-TOP */

form {
    flex: 1;
    display: flex;
    align-items: center;
    gap: var(--global-gap);
}

input {
    background-color: var(--main-color);
    width: clamp(400px, 80%, 800px);
    height: 28px;
    border: none;
    border-radius: 80px;
    margin-bottom: 5px;
}

input:focus {
    border: none;
    outline: none;
    padding: 10px 12px;

}

.profile-name {
    font-weight: bold;
}

/* PROFILE PICTURES */

.profile-pic {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: var(--profile-pic-width);
    height: var(--profile-pic-width);
    border-radius: 50%;
    cursor: pointer;
}

.header .profile-pic {
    background-image: url(./images/bron.webp);
}

.profile-pic.tegan {
    background-image: url(./images/astronaut.jpg);
}

.profile-pic.morgan {
    background-image: url(./images/green.jpg);
}

.profile-pic.kendall {
    background-image: url(./images/monkey.jpg);
}

.profile-pic.alex {
    background-image: url(./images/porsche.jpg);
}

.profile-pic.big {
    width: calc(var(--profile-pic-width) + 18px);
    height: calc(var(--profile-pic-width) + 18px);
}

/* HEADER-BOTTOM */

.greeting {
    flex: 1;
}

.greeting p {
    font-size: 12px;
    font-weight: bold;
}

.greeting span {
    font-size: 20px;
    font-weight: bold;
}

.button {
    padding: 10px 25px;
    color: var(--sidebar-font-color);
    background-color: var(--sidebar-color);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.1s ease-in-out;
}

button:hover, a svg:hover {
    transform: scale(1.05, 1.05);
}

/* MAIN CONTENT */

.content {
    background: var(--main-color);
    display: grid;
    grid-template: max-content 1fr / 1fr 300px;
    padding: 0 var(--sidebar-margins) 75px;
    column-gap: var(--global-gap);

}

.project-body {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: max-content;
    gap: var(--global-gap);
}

.project-header, .announcement-header, .trending-header {
    font-size: 18px;
    font-weight: bold;
    align-self: self-end;
    padding: 30px 0 12px 0;
}

.project-card, .announcement-card, .trending-card {
    background-color: var(--card-color);
    position: relative;
    box-shadow: var(--shadow);
    border-radius: 10px;
}

.project-card {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    padding: 20px;
    border-left: 8px solid orange;
    gap: var(--global-gap);
}

.project-card:hover, .ann:hover, .profile:hover {
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
    transition: all 0.2s;
    outline: 2px solid lightblue;
    transform: scale(1.01, 1.01);
}

.project-card p, .profile p {
    color: var(--subtext-color);
    font-size: 14px;
    flex: 1;
}

.project-card .card-icons {
    align-self: self-end;
}

.project-card svg {
    height: 22px;
    margin: 0 15px;
}

/* ANNOUNCEMENTS */

.ann-trending {
    display: grid;
    grid-template-rows: repeat(3, max-content);
}

.announcement-card {
    display: grid;
    grid-template-rows: repeat(5, max-content);
    padding: 30px 20px;
    gap: var(--global-gap);
}

.ann {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    padding: 0 10px;
    gap: calc(var(--global-gap) / 2);
    cursor: pointer;
}

.ann p{
    color: var(--subtext-color);
    font-size: 12px;
}

/* TRENDING */

.trending-card {
    display: grid;
    grid-template-rows: repeat(4, max-content);
    padding: 30px;
    gap: var(--global-gap);
}

.profile {
    display: flex;
    align-items: center;
    gap: var(--global-gap);
    border-radius: 100px;
    cursor: pointer;
}